.container{
    background: url("./assets/background.png") no-repeat ;
    background-size: cover;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.box{
    background: rgba(0,0,0,0.7);
    width: 50vw;
    height: 80vh;
    border-radius: 20px;
    margin-top: 5%;
}

.logo{
    padding: 40px 0 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    color: #fff;
    font-size: 48px;
}

.buttonGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer{
    margin-top: 10vh;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputBox{
    width: 40%;
    height: 40px;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    border: none;
    padding: 0 10px 0 10px;
    font-size: 20px;
}

.button{
    width:  160%;
    height: 40px;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background: #882de3;
    color: #fff;
}